<div id="background-points">

  <div class="display-desktop">
    <%= render 'svg/background.html.erb' %>
  </div>
  <div class="display-mobile">
    <%= image_tag "backgroundMobileVernissage.jpg", class: "image-bg-mobile", alt: "Exposition du 11 janvier au 13 avril 2019" %>
  </div>
</div>
<%= render 'contact-details.html.erb' %>
<%= render 'line.html.erb' %>
<%= render 'ateliers.html.erb' %>
